@import 'modules/vars';
@import 'modules/mediaqueries';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/about';
@import 'modules/contact';
@import 'modules/animate';


.hidden 
{
    display:none;
}

body
{
	margin: 0;
    padding: 0;
    width: 100%;
}


#html 
{
     scroll-behavior: smooth; 
}


//below is for any css animations we are using 

.hide 
{
    visibility: hidden;
}

.visible 
{
    visibility: visible !important;
}

.delay1 
{
    -animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
  
.delay2 
{
    -animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}