@import 'modules/vars';
@import 'modules/mediaqueries';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/about';
@import 'modules/contact';
@import 'modules/animate';

h1 {
    font-family: $font-header;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3em;
    color: $font-color;
}

h2 {
    font-family: $font-header;
    font-weight: bold;
    font-size: 2.25em;
    text-transform: uppercase;
    color: $font-color;
}

h3 {
    font-family: $font-header;
    font-weight: normal;
    font-size: 1.75em;
    color: $font-color;
}

h4 {
    font-family: $font-header;
    font-weight: normal;
    font-size: 1.125em;
    color: $font-color;
}

body {
    font-family: $font-body;
    font-size: 1em;
    color: $font-color;
}



.hidden 
{
    display:none;
}

body
{
	margin: 0;
    padding: 0;
    width: 100%;
}


#html 
{
    scroll-behavior: smooth; 
}


//below is for any css animations we are using 

.hide 
{
    visibility: hidden;
}

.visible 
{
    visibility: visible !important;
}

.delay1 
{
    -animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
  
.delay2 
{
    -animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}

.fade-enter-active, .fade-leave-active {
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}
