#contactLeft {
margin: 0px;
}

#contactLeft img {
    float: left;
    width: 50%;
    margin: 0px;
    }

#contactRight {
    float: left;
    }

#contactRight form {
    align-content: center;
}

#contactRight form input{
    border: none;
    background-color: #f1f2f2;
    border-radius: 5px;
    height: 3em;
    width: 25em;
    padding-left: 5%;
    margin-top: 1%;
}

#contactRight form button {
    border: none;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7db9e8 0%, #2e79bf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #7db9e8 0%,#2e79bf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #7db9e8 0%,#2e79bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 5px;
    height: 2.5em;
    margin-top: 2.5%;
    width: 18.3em;
    box-shadow: 1px 1px 5px $font-color;
    font-family: $font-body;
    font-size: 1em;
    color: $font-color;
}
