
//MOBILE

@media (max-width: 479px) {
    #contactRight {
        margin-left: 3em;
        }
    
    #contactRight form {
        margin-left: 0em;
    }
}



//TABLET

@media (min-width: 480px) and (max-width: 768px) {
    #contactRight {
        margin-left: 4em;
        }
    
    #contactRight form {
        margin-left: 1em;
    }
}



//DESKTOP

@media (min-width: 769px) {
    #contactRight {
        margin-left: 4em; //might need to play more with for desktop
        }
    
    #contactRight form {
        margin-left: 3em; 
    }
}

